 body {
   margin: 0;
 }

.wrapper {
  margin:auto;
  width: 80%
}

 .header {
   display: flex;
   justify-content: space-between;
 }

 .logo {
   padding: 40px 0;
   // font:bold 24px/31px pt_serif, arial, helvetica, sans-serif;
   width: 190px;
   height: 35px;
   background: url('img/logo.svg');
   background-repeat: no-repeat;
   background-position: center;
   }

   .menu {
   display: flex;
   align-items: center;
 }

 .menu_item{
   padding: 013px
 }

 .menu_item:last-child {
   padding-right: 0;
 }

 .main-section {
   border: dashed 1px red;
}
